%section

	.create-post
		= render 'posts/new_post'

	.posts-panel
		- @posts.each do |p|
			.post
				.post-header
					.post-header-username
						= link_to p.user.username, profile_path(:id => p.user.id)
					.post-header-options
						- if p.user.id == current_user.id
							= link_to 'X', p, method: :delete, data: { confirm: "Are you sure?" }
				.post-content
					= p.content

	.panel-friends
		.friends-title
			Online Friends
		.friend-chat-list
			- @users.each_with_index do |user, index|
				%p.friend
					= link_to user.username, "#", class: "btn btn-chat start-conversation", "data-sid" => current_user.id, "data-rip" => user.id unless user == current_user






